<p class="text-5xl font-extrabold tracking-widest mt-2 text-center">
  <%= @attendance_list.current_attendance_code %>
</p>
<p class="text-xs text-gray-500 text-center mt-2">
  Last updated: <%= Time.current.strftime("%I:%M:%S %p") %>
</p>
